
<% if logged_in? %>
  

  <div class="row">

    <div  class="span8">
      <h3 style="text-align: center;">BBCS</h3>
      <div class="col-md-4">
    
    <!--
    <div class="input-group">
      <input type="text" class="form-control" onkeydown="onKeyDown(event)" placeholder="输入会员名并回车进行搜索"/>
      <span class="input-group-addon""><i class="glyphicon glyphicon-search"></i></span>
    </div>
    -->
    <%if current_user.admin? %>
    <%= form_tag("/articals/search", {:method => "get" ,:id=>"search_form" }) do |f|  %>
      <div class="input-group">
        <input type="text" name="search" class="form-control" placeholder="输入文章名并回车进行搜索"/>
        <span class="input-group-addon" onclick="document.getElementById('search_form').submit();"><i class="glyphicon glyphicon-search"></i></span>
      </div>
    <% end -%>
    

    
    <script type="text/javascript">
      function onKeyDown(event){
        var e = event || window.event || arguments.callee.caller.arguments[0];
        if(e && e.keyCode==13){ // enter 键
          alert("此处回车触发搜索事件");
        }
      }
    </script>
    
    
    
    <table class="table table-bordered">
  <tr>
    <td><lable>文章标题</lable></td>
    <td><lable>阅读量</lable></td>
    <% if current_user.admin? %>
      <td><lable>操作</lable></td>
    <% end %>
    
  </tr>
  <!-- Rails 会把 @users 当作一个 User 对象列表，传给 render 方法后，Rails 会自动遍历这个列表，然后使用局部视图 _user.html.erb 渲染每个对象 -->
  <%= render @articals %>
  </table>
  <% end -%>
  </div>
  
     <%if current_user.admin==0 %>
      <div class="tab-pane fade show article-list active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <%@articals.each do |each_artical| %>
          <div class="article-list-item">
            <div class="list-item-title">
              <p class="article-list-item-txt">
                <a href=<%="/articals/"+each_artical.id.to_s %> target="_blank" title="编辑"><%=each_artical.title %></a>
              </p>
            </div>

            <div class="article-list-item-info">
              <div class="item-info-left">
                <span class> <%= User.find(each_artical.user).name  %></span>
                <span class> <%=each_artical.updated_at %></span>
                <span class>
                  阅读量:
                  <%=each_artical.read_number %>
                 </span>
                <%if current_user.admin==0 %>
                  <div class="btn" data-key="on">
                
                  <b id="thumb_up_css">&#10084;</b>
                  <span><%=each_artical.thumber_up_number %></span>

                  </div>
                <%end %>
                <%if current_user.admin? %>
                <div class="btn" data-key="on">
                
                  <span><%= link_to "删除", each_artical, method: :delete,
                                  data: { confirm: "You sure?" } %></span>

                </div>
                
                <%end %>

              </div>


            </div>

          </div>





        <% end %>
      </div>
      <% end %>
    </div>
  </div>
<% else %>


<% end %>
